<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritemspro</string>
			<key>key</key>
			<string>enableTweak</string>
			<key>label</key>
			<string>Enable Tweak</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritemspro/preferences.changed</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Lockscreen</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritemspro</string>
			<key>key</key>
			<string>lsDNDSwitch</string>
			<key>label</key>
			<string>Hide Do Not Disturb</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritemspro/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritemspro</string>
			<key>key</key>
			<string>lsAirplaneModeSwitch</string>
			<key>label</key>
			<string>Hide Airplane Mode</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritemspro/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritemspro</string>
			<key>key</key>
			<string>lsSignalStrengthSwitch</string>
			<key>label</key>
			<string>Hide Signal Strength</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritemspro/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritemspro</string>
			<key>key</key>
			<string>lsCarrierTextSwitch</string>
			<key>label</key>
			<string>Hide Carrier Text</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritemspro/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritemspro</string>
			<key>key</key>
			<string>lsWifiSwitch</string>
			<key>label</key>
			<string>Hide Wifi</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritemspro/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritemspro</string>
			<key>key</key>
			<string>lsBatteryIconSwitch</string>
			<key>label</key>
			<string>Hide Battery</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritemspro/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritemspro</string>
			<key>key</key>
			<string>lsBatteryTextSwitch</string>
			<key>label</key>
			<string>Hide Battery %</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritemspro/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritemspro</string>
			<key>key</key>
			<string>lsBluetoothSwitch</string>
			<key>label</key>
			<string>Hide Bluetooth</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritemspro/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritemspro</string>
			<key>key</key>
			<string>lsAlarmSwitch</string>
			<key>label</key>
			<string>Hide Alarm</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritemspro/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritemspro</string>
			<key>key</key>
			<string>lsLocationSwitch</string>
			<key>label</key>
			<string>Hide Location</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritemspro/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritemspro</string>
			<key>key</key>
			<string>lsOrientationLockSwitch</string>
			<key>label</key>
			<string>Hide Orientation Lock</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritemspro/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritemspro</string>
			<key>key</key>
			<string>lsScreenMirroringSwitch</string>
			<key>label</key>
			<string>Hide Screen Mirroring</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritemspro/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritemspro</string>
			<key>key</key>
			<string>lsVpnSwitch</string>
			<key>label</key>
			<string>Hide VPN</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritemspro/preferences.changed</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Springboard</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritemspro</string>
			<key>key</key>
			<string>sbDNDSwitch</string>
			<key>label</key>
			<string>Hide Do Not Disturb</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritemspro/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritemspro</string>
			<key>key</key>
			<string>sbAirplaneModeSwitch</string>
			<key>label</key>
			<string>Hide Airplane Mode</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritemspro/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritemspro</string>
			<key>key</key>
			<string>sbSignalStrengthSwitch</string>
			<key>label</key>
			<string>Hide Signal Strength</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritemspro/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritemspro</string>
			<key>key</key>
			<string>sbCarrierTextSwitch</string>
			<key>label</key>
			<string>Hide Carrier Text</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritemspro/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritemspro</string>
			<key>key</key>
			<string>sbWifiSwitch</string>
			<key>label</key>
			<string>Hide Wifi</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritemspro/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritemspro</string>
			<key>key</key>
			<string>sbBatteryIconSwitch</string>
			<key>label</key>
			<string>Hide Battery</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritemspro/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritemspro</string>
			<key>key</key>
			<string>sbBatteryTextSwitch</string>
			<key>label</key>
			<string>Hide Battery %</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritemspro/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritemspro</string>
			<key>key</key>
			<string>sbBluetoothSwitch</string>
			<key>label</key>
			<string>Hide Bluetooth</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritemspro/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritemspro</string>
			<key>key</key>
			<string>sbAlarmSwitch</string>
			<key>label</key>
			<string>Hide Alarm</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritemspro/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritemspro</string>
			<key>key</key>
			<string>sbLocationSwitch</string>
			<key>label</key>
			<string>Hide Location</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritemspro/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritemspro</string>
			<key>key</key>
			<string>sbOrientationLockSwitch</string>
			<key>label</key>
			<string>Hide Orientation Lock</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritemspro/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritemspro</string>
			<key>key</key>
			<string>sbScreenMirroringSwitch</string>
			<key>label</key>
			<string>Hide Screen Mirroring</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritemspro/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.chashmeet.hidestatusbaritemspro</string>
			<key>key</key>
			<string>sbVpnSwitch</string>
			<key>label</key>
			<string>Hide VPN</string>
			<key>PostNotification</key>
			<string>com.chashmeet.hidestatusbaritemspro/preferences.changed</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>respring</string>
			<key>label</key>
			<string>Apply Changes!</string>
		</dict>
		<dict>
			<key>label</key>
			<string>About me</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>twitterContactMethod</string>
			<key>label</key>
			<string>Follow me on Twitter!</string>
			<key>icon</key>
			<string>twitter.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>paypalDonateMethod</string>
			<key>label</key>
			<string>Buy me a coffee!</string>
			<key>icon</key>
			<string>paypal.png</string>
		</dict>
		<dict>
			<key>label</key>
			<string>© 2018 Chashmeet Singh</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
		</dict>
	</array>
	<key>title</key>
	<string>HideStatusBarItems</string>
</dict>
</plist>
